@use "variables";

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: variables.$bg;
  color: variables.$fc1;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: variables.$secondaryLight;
  }
  &:active {
    color: variables.$secondaryDark;
  }
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.8rem;
}

.button,
button {
  border: 1px solid variables.$secondaryDark;
  // border-radius: variables.$bdS;
  color: variables.$primary;
  background: variables.$secondary;
  padding: 0.5em 1em;
  transition: all 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;

  &:hover {
    color: variables.$fc1;
    cursor: pointer;
    box-shadow: 2px 2px 1px 1px variables.$secondaryDark;
  }

  &:active {
    box-shadow: inset 2px 2px 1px 1px variables.$secondaryDark;
  }
}

form {
  background: variables.$formBg;

  label {
    display: block;
    text-transform: uppercase;
  }

  input {
    background: variables.$formInput;
    width: 90%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: block;

    &:focus {
      box-shadow: 2px 2px 1px 1px variables.$secondaryLight;
      color: variables.$fc1;
    }
  }
}

.createPost__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem 0;

  input {
    margin: 2rem auto;
    width: 90%;
  }

  textarea {
    display: block;
    width: 90%;
    margin: 2rem auto;
    resize: none;
    min-height: 30rem;
    background: variables.$bg;

    &:focus {
      box-shadow: 2px 2px 1px 1px variables.$secondaryLight;
      color: variables.$fc1;
    }
  }

  div {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}

.avatar {
  height: 4.8rem;
  width: 4.8rem;
  display: block;

  &--small {
    height: 1.8rem;
    width: 1.8rem;
  }
}
// CUSTOM
