@use "variables";

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: variables.$bg;
  color: variables.$fc1;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: variables.$secondaryLight;
  }
  &:active {
    color: variables.$secondaryDark;
  }
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.8rem;
}

button {
  border: 1px solid variables.$secondaryDark;
  // border-radius: variables.$bdS;
  color: variables.$primary;
  background: variables.$secondary;
  padding: 0.5em;
  transition: all 0.5s;

  &:hover {
    color: variables.$fc1;
    cursor: pointer;
    box-shadow: 2px 2px 1px 1px variables.$secondaryDark;
  }

  &:active {
    box-shadow: inset 2px 2px 1px 1px variables.$secondaryDark;
  }
}

form {
  background: variables.$formBg;

  input {
    background: variables.$formInput;

    &:focus {
      box-shadow: 2px 2px 1px 1px variables.$secondaryLight;
      color: variables.$fc1;
    }
  }
}

// CUSTOM
