@use "variables";

.header {
  background-color: variables.$primary;
  height: 10vh;

  .wrapper {
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__link {
    display: block;
    color: variables.$secondary;
  }

  &__form {
    background-color: variables.$secondary;
  }

  &__formContainer {
    background: red;
    display: flex;
    align-items: center;
  }
}
