.home {
  display: flex;
  //   background: royalblue;
  justify-content: space-between;

  &__left {
    max-width: 50rem;
  }

  &__right {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background: green;
    text-align: center;

    form {
      width: 45vw;
      padding: 2rem;

      // label {
      //   background-color: red;
      //   width: 100%;
      //   display: block;
      // }
      input {
        width: 100%;
        display: block;
        font-size: 1.8rem;
      }
    }
  }

  &__inpDiv {
    position: relative;
  }
}
