@use "variables";

.wrapper {
  width: 90%;
  margin: 0 auto;

  &--small {
    width: 70rem;
  }
}

.mainHeight {
  min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
}

.marginTB {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.marginBs {
  margin-bottom: 3rem;
}

.tac {
  text-align: center;
}

.tdu {
  text-decoration: underline;
}
