@keyframes flashAnimation {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(1.5);
  }
  10% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
  90% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) scale(1.5);
  }
}

.flashMessage {
  opacity: 0;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) scale(1.5);
  padding: 2rem;
  //   animation: name duration timing-function delay iteration-count direction fill-mode;
  animation-name: flashAnimation;
  animation-duration: 4s;
  animation-iteration-count: 1;
  z-index: 9000;

  &--success {
    background: darkgreen;
    color: lime;
  }

  &--fail {
    background: darkred;
    color: red;
  }
}

// FORM ERROR MSG
.formError {
  display: block;
  position: absolute;
  padding: 0.5rem 1rem;
  opacity: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: darkred;
  color: red;
  animation: formError 0.5s linear 1 forwards;
}
.posr {
  position: relative;
}

@keyframes formError {
  0% {
    opacity: 0;
    top: 0;
    left: 50%;
  }
  100% {
    opacity: 1;
    left: 50%;
    top: -4rem;
  }
}

// LOADING ANIMATION

.loadingAniContainer {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  // background-color: #1a1940;
  // background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 153, 212, 0) calc(15% + 100px), rgba(0, 99, 138, 0) calc(85% + 100px), rgba(0, 0, 0, 0.15) 100%);

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container > div {
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    margin: 2vw;
    background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    // animation: bounce 1.5s 0.5s linear infinite;
  }
}
.aniDot1 {
  background-color: #feb60a;
  animation: bounce 1.6s 0s linear infinite;
}

.aniDot2 {
  background-color: #ff0062;
  // animation-delay: 0.1s;
  animation: bounce 1.6s 0.4s linear infinite;
}

.aniDot3 {
  background-color: #00dbf9;
  // animation-delay: 0.2s;
  animation: bounce 1.6s 0.8s linear infinite;
}

.aniDot4 {
  background-color: #da00f7;
  // animation-delay: 0.3s;
  animation: bounce 1.6s 1.2s linear infinite;
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: scale(1);
    filter: blur(0px);
  }
  25% {
    transform: scale(0.6);
    filter: blur(3px);
  }
  75% {
    filter: blur(3px);
    transform: scale(1.4);
  }
}

// 404 page NOT FOUND

.pageNotFound {
  text-align: center;
}
