@use "variables";

.button {
  border: 1px solid #000;
  border-radius: 10%;
  color: variables.$primary;
  background: variables.$secondary;
  padding: 0.5em;

  :hover {
    background: red;
    color: red;
    cursor: pointer;
  }
}
